@using Microsoft.AspNetCore.Identity
@using MyBeerCRMApp.Areas.Identity.Data

@inject SignInManager<MyBeerCRMAppUser> SignInManager
@inject UserManager<MyBeerCRMAppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Beer" asp-action="BeerIndex">Beers</a> @*Сделал кнопочки*@
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Brewery" asp-action="BreweryIndex">Brewerys</a>  @*Сделал кнопочки*@
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Calc" asp-action="Calculate">Calculate Beer</a> @*Сделал кнопочки*@
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="TodoIndex">Todo</a> @*Сделал кнопочки*@
        </li>
        
    }

</ul>
