@model TodoManager.Models.TodoModel


<h2>Редактирование Задач</h2>

<form asp-asp-controller="Todo" asp-action="EditTask" asp-route-id ="@Model.id">

    <p>
        <label asp-for="Name">Задача</label><br />
        <input type="text" asp-for="Name
" />
    </p>

    <p>
        <input type="submit" value="Обновить" />
    </p>

</form>