@model IEnumerable<TodoManager.Models.TodoModel>

<h2>Список пива</h2>
<p><a asp-action="createBeer">Добавить пиво</a></p>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.Name</td>
          

            <td> 
                <a asp-action="EditTask" asp-controller="Todo" asp-route-id="@item.id">Изменить</a>
            </td>
            <td>
                <form asp-controller="Todo" asp-action="DeleteTask" method="post" asp-route-id="@item.id">
                    <input type="submit" value="Удалить" />

                </form>

            </td>


        </tr>
    }
</table>